<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>contact</title>
</head>
<body>
    <header>
        <ul>
          <li><a href="home.ejs">Home</a></li>
          <li><a href="ourservice.ejs">Our Services </a></li>
          <li><a href="contactus.ejs"> Contact Us</a></li>
        </ul>
      </header>
    <h1>Our Contact</h1>
</body>
</html>